.card-container {
  display: flex;
  /* margin-top: 40px; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 230px;
  width: 25%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 35px 30px 35px 30px;
  border-radius: 10px;
}

.card:nth-child(n+5) {
  margin-top: 60px;
}

@media (max-width: 1170px) {
  
  .card:nth-child(n+5) {
    margin-top: 30px;
  }

  .card {
    margin-top: 30px;
  }
}


@media (max-width: 1170px) {
  .card-container {
    width: 550px;
    margin: 0 auto;
  }

  .card {
    width: 50%;
    display: flex;
  }
}

@media (max-width: 768px) { 
  .card-container {
    width: 100%;
  }
}


.card div {
  width: 30%;
  height: 100%;
}

.card p {
  font-size: 32px;
  width: 60%;
  margin-left: 15px;
}

.firebase p {
  font-size: 25px;
}

.js p {
  font-size: 22px;
}

.ts p {
  font-size: 20px;
}

@media (max-width: 768px) { 
  .python p {
    font-size: 25px
  }
  .firebase p {
    font-size: 20px;
  }
  
  .js p {
    font-size: 18px;
  }
  
  .ts p {
    font-size: 16px;
  }
}

.ruby div {
  background: url("../images/skills/ruby-white.png") no-repeat center/contain;
}

.swift div {
  background: url("../images/skills/swift-white.png") no-repeat center/contain;
}

.firebase div {
  background: url("../images/skills/firebase-white.png") no-repeat center/contain;
}

.js div {
  background: url("../images/skills/javascript-white.png") no-repeat center/contain;
}

.vue div {
  background: url("../images/skills/vue-white.png") no-repeat center/contain;
}

.python div {
  background: url("../images/skills/python-white.png") no-repeat center/contain;
}

.ts div {
  background: url("../images/skills/typescript-white.png") no-repeat center/contain;
}

.react div {
  background: url("../images/skills/react-white.png") no-repeat center/contain;
}
