.card-container {
  display: flex;
  /* margin-top: 40px; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 230px;
  width: 25%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 35px 30px 35px 30px;
  border-radius: 10px;
  transition: background 0.5s, border 0.5s;
}

.card:hover {
  background-color: var(--background);
}

.card:nth-child(n+5) {
  margin-top: 60px;
}

.card div {
  width: 30%;
  height: 100%;
  transition: background 0.5s;
}

.card p {
  font-size: 32px;
  width: 60%;
  margin-left: 15px;
}

.firebase p {
  font-size: 25px;
}

.js p {
  font-size: 22px;
}

.ts p {
  font-size: 20px;
}


@media (max-width: 1170px) {
  .card:nth-child(n+5) {
    margin-top: 30px;
  }

  .card {
    margin-top: 30px;
  }
}


@media (max-width: 1170px) {
  .card-container {
    width: 768px;
    margin: 0 auto;
  }

  .card {
    width: 22%;
    display: flex;
  }
}

@media (max-width: 768px) { 
  .card-container {
    width: 100%;
    justify-content: center;
  }

  .card {
    width: 50%;
    display: flex;
  }

  /* .card:nth-child(2n) {
    margin-left: 20px;
  } */
  .python p {
    font-size: 25px
  }
  .firebase p {
    font-size: 20px;
  }
  
  .js p {
    font-size: 18px;
  }
  
  .ts p {
    font-size: 16px;
  }
}

@media (max-width: 480px) { 
  .card {
    flex-direction: column;
  }

  /* .card:nth-child(2n) {
    margin-left: 20px;
  } */

  .card div {
    width: 100%;
    height: 50px;
  }
  
  .card p {
    font-size: 16px;
    width: 100%;
    margin-top: 16px;
    margin-left: 0px;
    text-align: center;
  }
}

.ruby div {
  background: url("../images/skills/ruby-white.png") no-repeat center/contain;
}

.ruby:hover div {
  background: url("../images/works/ruby.png") no-repeat center/contain;
}

.ruby:hover p {
  color: var(--ruby);
}

.swift div {
  background: url("../images/skills/swift-white.png") no-repeat center/contain;
}

.swift:hover div {
  background: url("../images/works/swift.png") no-repeat center/contain;
}

.swift:hover p {
  color: var(--swift);
}

.firebase div {
  background: url("../images/skills/firebase-white.png") no-repeat center/contain;
}

.firebase:hover div {
  background: url("../images/works/firebase.png") no-repeat center/contain;
}

.firebase:hover p {
  color: var(--firebase);
}

.js div {
  background: url("../images/skills/javascript-white.png") no-repeat center/contain;
}

.js:hover div {
  background: url("../images/works/javascript.png") no-repeat center/contain;
}

.js:hover p {
  color: var(--javascript);
}

.vue div {
  background: url("../images/skills/vue-white.png") no-repeat center/contain;
}

.vue:hover div {
  background: url("../images/works/vue.png") no-repeat center/contain;
}

.vue:hover p {
  color: var(--vue);
}

.python div {
  background: url("../images/skills/python-white.png") no-repeat center/contain;
}

.python:hover div {
  background: url("../images/works/python.png") no-repeat center/contain;
}

.python:hover p {
  color: var(--python);
}

.ts div {
  background: url("../images/skills/typescript-white.png") no-repeat center/contain;
}

.ts:hover div {
  background: url("../images/works/typescript.png") no-repeat center/contain;
}

.ts:hover p {
  color: var(--typescript);
}


.react div {
  background: url("../images/skills/react-white.png") no-repeat center/contain;
}

.react:hover div {
  background: url("../images/works/react.png") no-repeat center/contain;
}

.react:hover p {
  color: var(--react);
}
