:root {
  --background: #112E40;
  --black: #333333;
  --white: #fafafa;
  --gray: #CBCBCB;
  --pink: #FA5849;
  --light-pink: #FC7472;
  --ruby: #FF5252;
  --vue: #81C784;
  --swift: #FF8B36;
  --firebase: #FF8F00;
  --javascript: #FFD600;
  --python: #0277BD;
  --typescript: #1976D2;
  --react: #80DEEA;
  --awad: #07B4CD;
  --aika: #6C798F;
  --study-room: #81C784;
  --ramen-collection: #F8AA18;
  --lit-red: #e63c35;
  --lit-blue: #009bdb;
  --lit-green: #67b62d;
  --lit-yellow: #fac700;
  --business-card-pink: #D92BC5;
  --business-card-green: #2BD92B;
  --business-card-yellow: #BFD92B;
  --business-card-blue: #2BD6D9;
  --japanese: 'Hiragino Kaku Gothic';
}

* {
  font-family: Futura;
}

*:focus {
  outline: none;
}

body {
  background: var(--background);
  color: var(--white);
}

h2 {
  margin: 0;
  font-size: 72px;
  margin: 0 0 50px;
}

@media (max-width: 1170px) {
  /* h2 {
    font-size: 36px;
  } */
}

@media (max-width: 768px) { 
  h2 {
    font-size: 48px;
    text-align: center;
  }
}

@media (max-width: 500px) { 

}

p {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

section {
  padding-top: 50px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  section {
    height: unset;
  }
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px 50px;
}

@media (max-width: 1170px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 768px) { 
  .wrapper {
    width: 100%;
    padding: 50px 10px;
  }
}

@media (max-width: 500px) { 
  .wrapper {
    width: 100%;
  }
}

.ruby {
  background-color: var(--ruby);
  border: solid 1px var(--ruby);
}

.swift {
  background-color: var(--swift);
  border: solid 1px var(--swift);
}

.js {
  background-color: var(--javascript);
  border: solid 1px var(--javascript);
}

.ts {
  background-color: var(--typescript);
  border: solid 1px var(--typescript);
}

.python {
  background-color: var(--python);
  border: solid 1px var(--python);
}

.vue {
  background-color: var(--vue);
  border: solid 1px var(--vue);
}

.firebase {
  background-color: var(--firebase);
  border: solid 1px var(--firebase);
}

.react {
  background-color: var(--react);
  border: solid 1px var(--react);
}

.awad {
  border-top: solid 10px var(--awad);
}

.aika {
  border-top: solid 10px var(--aika);
}

.studyroom {
  border-top: solid 10px var(--study-room);
}

.ramen-collection {
  border-top: solid 10px var(--ramen-collection);
}

.opacity-hover {
  opacity: 0.7;
  transition: opacity 0.4s;
}

.opacity-hover:hover {
  opacity: 1;
}

.scale-onhover {
  transform: scale(1.0);
  transition: transform 0.4s;
}

.scale-onhover:hover {
  transform: scale(1.1);
}


#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #54A1F9 !important;
}
