:root {
  --background: #112E40;
  --white: #fafafa;
  --gray: #CBCBCB;
  --pink: #FA5849;
  --light-pink: #FC7472;
  --ruby: #FF5252;
  --vue: #81C784;
  --swift: #FF8B36;
  --firebase: #FF8F00;
  --javascript: #FFD600;
  --python: #0277BD;
  --typescript: #1976D2;
  --react: #80DEEA;
  --awad: #07B4CD;
  --aika: #6C798F;
  --study-room: #81C784;
  --ramen-collection: #F8AA18;
  --lit-red: #e63c35;
  --lit-blue: #009bdb;
  --lit-green: #67b62d;
  --lit-yellow: #fac700;
  --business-card-pink: #D92BC5;
  --business-card-green: #2BD92B;
  --business-card-yellow: #BFD92B;
  --business-card-blue: #2BD6D9;
  --japanese: 'Hiragino Kaku Gothic';
}

* {
  font-family: Futura;
}

body {
  background: var(--background);
  color: var(--white);
}

h2 {
  margin: 0;
  font-size: 72px;
}
p {
  margin: 0;
}

section {
  padding-top: 50px;
  height: 100vh;
  width: 100%;
}

.wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px 50px;
}

.ruby {
  background-color: var(--ruby);
}

.swift {
  background-color: var(--swift);
}

.js {
  background-color: var(--javascript);
}

.ts {
  background-color: var(--typescript);
}

.python {
  background-color: var(--python);
}

.vue {
  background-color: var(--vue);
}

.firebase {
  background-color: var(--firebase);
}

.react {
  background-color: var(--react);
}